*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MonReg;
    src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: MonSemiBold;
    src: url(./fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: MonLight;
    src: url(./fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: MonBold;
    src: url(./fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: NeuBold;
    src: url(./fonts/Neuton-Bold.ttf);
}

@font-face {
    font-family: PerMarker;
    src: url(./fonts/PermanentMarker-Regular.ttf);
}

body {
    font-family: NeuBold;
}

.portfolio_main {
    color: #FFFCFC;
    background-color: #222222;
    height: 100vh;
}

.navbar {
    max-height: 10vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-template-rows: repeat(4, 1fr);
}

.link_logo {
    grid-column: 2/4;
    grid-row: 2/4;
}

.logo {
    top: 20px;
    width: 15vh;
}

.link_portfolio {
    grid-row: 2/4;
    display: grid;
    justify-items: center;
    grid-column: 6/8;
}

.link_photos {
    display: grid;
    justify-items: end;
    grid-column: 8/10;
    grid-row: 2/4;
}

.link_about {
    display: grid;
    justify-items: end;
    grid-column: 10/12;
    grid-row: 2/4;
}

.link {
    list-style-type: none;
    font-size: 50px;
}

.page {
    background-color: #222222;
    height: 90vh;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 20px;
    grid-template-rows: repeat(10, 1fr);
}

.me {
    height: 80vh;
}

.name {
    font-size: 80px;
    grid-column: 2/5;
    grid-row: 3/6;
}

.hero {
    display: grid;
    margin-bottom: auto;
    grid-column: 4/9;
    grid-row: 2/13;
}

.title {
    font-family: MonSemiBold;
    font-size: 35px;
    grid-column: 9/12;
    grid-row: 3/4;
}

.small_description {
    font-family: MonReg;
    font-size: 24px;
    grid-column: 9/12;
    grid-row: 5/7;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #FFBA48;
    border-radius: 100%;
}

.link_dot {
    grid-row: 1/2;
    grid-column: 6/8;
    margin: auto;
}

.rec {
    grid-row: 9/13;
    grid-column: 10/13;
    display: grid;
    justify-items: end;
    margin-top: 10px;
}

.social {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    z-index: 1;
}

#social_main {
    grid-row: 9/10;
    grid-column: 2/5;
}

.social_icon {
    width: 50px;
}

.photo_exhibition {
    background-color: #535151;
    height: 140vh;
    -webkit-box-shadow: inset 0px 5px 10px 1px #000000;
    box-shadow: inset 0px 40px 40px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(24, 1fr);
    grid-row-gap: 20px;
    grid-template-rows: repeat(20, 1fr);
}

.photo_previews {
    grid-row: 4/15;
    grid-column: 3/23;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.display_photo {
    width: 25vw;
    filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.75));
}

.photo_buttons {
    list-style-type: none;
    grid-column: 3/23;
    grid-row: 17/19;
    display: flex;
    justify-content: space-between;
}

.display_btn {
    background: #FFBA48;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    width: 25vw;
    height: 72px;
    font-family: Neuton;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.description {
    height: 100vh;
    color: #FFFCFC;
    background-color: #222222;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 20px;
    grid-template-rows: repeat(10, 1fr);
}

.title_about_me {
    font-size: 40px;
    line-height: 58px;
    display: flex;
    justify-content: center;
    grid-column: 2/6;
    grid-row: 2/3;
    font-family: PerMarker;
}

.about_me {
    text-indent: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-align: justify;
}

#about_me_first {
    grid-column: 2/6;
    grid-row: 4/6;
}

#about_me_second {
    grid-column: 2/6;
    grid-row: 8/9;
}

.me_mask {
    grid-column: 7/12;
    grid-row: 2/10;
    width: 40vw;
}

footer {
    height: 25vh;
    color: black;
    background-color: #535151;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 20px;
    grid-template-rows: repeat(10, 1fr);
    -webkit-box-shadow: inset 0px 5px 10px 1px #000000;
    box-shadow: inset 0px 40px 40px rgba(0, 0, 0, 0.5);
}

#social_footer {
    grid-row: 5/8;
    grid-column: 2/5;
}

.my_name {
    font-family: MonBold;
    grid-row: 5/8;
    grid-column: 9/12;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.235em;
}